{% extends 'basic_app/base.html' %}
{% block body_block %}

 <div class="container">
   <div class="jumbotron">

   <h1>This Site is Devloped Under Django FrameWork.</h1>
 </div>
 <div class="jumbotron">
 <p>Django is a Python-based free and open-source web framework, which follows the model-template-view architectural
   pattern. It is maintained by the Django Software Foundation, an independent organization established as a 501
   non-profit. Django's primary goal is to ease the creation of complex, database-driven websites. Check<a
     href="https://docs.djangoproject.com/"> Django Documentaion</a> for more information.</p>
     </div>
{% endblock %}
